body {
    background-color: #EEF2FF !important;
    height: 100%;
}


.navbar_bg{
    background-image: linear-gradient(white, #D5D5D6);
}


/* Mobile */
@media only screen and (max-width: 420px) {
    #logo{
        max-width: 30px;
        max-height:  30px;
    }
    #profile_img{
        max-width: 40px;
        max-height:  40px;
    }
    /* ChatBox */
    .chatbox_nav{
        background-image: linear-gradient(#4578FD, #1B56F1);
        position: sticky;     
    }
    .name_{
        font-size: 20px;
    }
    .name{
        font-size: 16px;
    }

    #title {
        font-size: 20px;
    }
    .date_txt{
        font-size: 14px;
    }

    .chatbox_message_container{
        max-height: 350px;
        min-height: 200px;
        overflow-y: scroll; 
    }

    /* Message Input */
    .message_input{
        max-height: 100px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    /* Message Bubble */
    .message_bubble {
        background-color:#EAF3FF;
        max-width: fit-content;
        
    }
    .message_date {
        color: gray;
    }
    /* Send Logo */
    .btn_container{
        max-width: fit-content;
        background-image: linear-gradient(#4578FD, #1B56F1);
        padding: 5px 10px 5px 10px;
        margin: 10px;
    }
    .btn_img{    
        max-width: 15px;
        max-height: 15px;
    }
}

/* Web */
@media only screen and (min-width: 420px) {
    #logo{
        max-width: 40px;
        max-height:  40px;
    }
    #profile_img{
        max-width: 70px;
        max-height:  70px;
    }
    /* ChatBox */
    .chatbox_nav{
        background-image: linear-gradient(#4578FD, #1B56F1);
        position: sticky;
    }

    #title {
        font-size: 40px;
    }
    .name_{
        font-size: 25px;
    }
    .name{
        font-size: 20px;
    }
    .date_txt{
        font-size: 14px;
    }
    .chatbox_message_container{
        max-height: 500px;
        min-height: 200px;
        overflow-y: scroll; 
    }

    /* Message Input */
    .message_input{
        max-height: 200px;
    }

    /* Message Bubble */
    .message_bubble {
        background-color:#EAF3FF;
        max-width: fit-content;
        
    }
    .message_date {
        color: gray;
    }
    /* Send Logo */
    .btn_container{
        max-width: fit-content;
        background-image: linear-gradient(#4578FD, #1B56F1);
        padding: 10px 20px 10px 20px;
        margin: 10px;
    }
    .btn_img{    
        max-width: 15px;
        max-height: 15px;
    }
}